@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Inter", sans-serif;
}

div {
  @apply whitespace-normal;
}

.serif-text {
  font-family: "Libre Baskerville", serif;
}

.sans-serif-text {
  font-family: "Inter", sans-serif;
}

.custom-container {
  padding: 0% 5%;
}

.primary-button {
  @apply py-2 px-4 rounded-xl text-primaryWine-500 bg-alternateLightYellow-500 font-bold border-2 border-primaryWine-500;
  @apply hover:text-alternateLightYellow-500 hover:border-alternateLightYellow-500 hover:bg-primaryWine-500 hover:border-2;
}

.secondry-button {
  @apply py-2 px-4 rounded-xl border-2 border-primaryWine-500 text-primaryWine-500 font-bold;
  @apply hover:text-alternateLightYellow-500 hover:bg-primaryWine-500;
}

@screen lg {
  .hero-text {
    padding: 0px 5vw 0px 0px;
    @apply py-11 pl-6;
  }
}

.hero-text {
  @apply py-10;
}

#header-menu-nav {
  padding: 0px 5vw 0px 0px;
  @apply pl-4 py-5 
  lg:hidden 
  bg-primaryWine-500 
  absolute 
  transition-all 
  duration-300 
  ease-in;
}

/*  When the menu is not showing the menu is
 positioned at right 75% of the width of the header */
.not-showing-menu {
  @apply -right-3/4;
}

/* When the menu is showing the menu is positioned at 0px right
 of the width of the header */
.showing-menu {
  @apply right-0;
}
